@(images: List[com.mobileomega.models.Image])

@main("Fit The Flick") {
    
   <article>
   	<header>
   		<a class="button black back">Back</a>
   		<h1> Fit The Flick</h1>
   		<a class="button black next">Next</a>
   	</header>
   </article>


 @if(images == null || images.isEmpty) {
        <p>No images available yet.</p>
     }
     else {
      <div class="box">
     @images.map { image => 
      	<div class=  @title(image.index) + " image_load" onclick='loadImage("@image.name)")'></div>
       }
     </div>
   }
}

 @title(index: String) = @{
     "A" + index
}